
/* Encabezado: Ayuda, ingresar y Registrase*/
nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px;
  background-color: black;
  z-index: 100;
  box-sizing: border-box;
}
nav ul {
  list-style: none;
 padding: 0 20px 0 0; 
  margin: 0;
  text-align: right;  
}

nav ul li {
  display: inline;
  margin-left: 10px;
}

nav ul li:first-child {
  float: left; 
}

nav a {
  text-decoration: none;
  color: #B80F0F;
}

.icono-ayuda {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-color: whitesmoke;
  color: #B80F0F;
  border-radius: 50%;   
  text-align: center;
  font-size: 12px;
  line-height: 18px;    
  cursor: pointer;
}

.boton {
  border-radius: 5px;
  background-color: #B80F0F;
  color: white;
  border: none;
  padding: 6px 14px ;
  cursor: pointer;
}

button:hover {
  box-shadow: 0 0 5px red;
  color:#FFD700 ;
}

/* Titulo*/
.titulo {
    margin-top: 200px;
    text-align: center;
    color: red  ;
}
.cine {
    color: white;
}

/* Body*/

body {
    background-color: #1A1A1A; 
}
/*Barra de nevegacion*/
.buscar {
    display: block;
    text-align: center;
  
}

.boton-buscar {
  background-color: transparent;
  color: #B80F0F;
  border: 2px solid red;
  border-radius: 6px;
  padding: 8px 18px;
  font-size: 14px;
  cursor: pointer;
}
input {
  width: 500px;
  padding: 8px 16px;
  border-radius: 20px;  
  font-size: 14px;
  background-color: white;
  color: #333;
  
}
input:focus {
  border-color: #B80F0F;
  outline: none;  
}

.sede {
    margin-top: 50px;
    background-color: #B80F0F;
    color: white ;
}
.estrenos {
    text-align: center;
    color: #FFD700;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.imagenes {
    display: block;
    text-align: center;
    color: #FFD700 ;
    border: solid #B80F0F ;
    border-radius: 10px;
    background-color: #B80F0F;
    padding: 10px;
}

.app {
    border: solid;
    border-radius: 10px;
    background-color: #B80F0F;
    text-align: center;
    color: white;
    padding: 70px;
    margin-bottom: 50px;
    margin-top: 30px;
}

/*Footer*/
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  padding: 5px 15px;
  box-sizing: border-box;
}

.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline;
}

.footer ul li {
  display: inline;
  margin-right: 30px;

}

footer ul li a {
    color: #B80F0F;
    text-decoration: none;
    margin-right: 30px;
   
}  
.footer p {
  display: inline;
  float: right;  
  margin: 0;
  font-size: 13px;
  color: white;
}
.yeisson{
    color: #FFD700;
}